.user-show-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #4c4c4c;
}

.user-show-sidebar{
    height: 100vh;
    width: 22%;
    background-color:#f4f4f4;
    color: #333;
    border-right: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

.user-show-sidebar-header{
    font-size: 1.5rem;
    margin-top: .75rem;
    padding-left: 1rem;
}

.user-show-sidebar-header i {
    font-size: 1.25rem;
    margin-right: .5rem;
}

.user-show-sidebar li {
    list-style-type: none;
    border-left: 3px solid #74b71b;
    padding: 7px 7px;
    color: #427b01;
}

.user-show-sidebar li a {
    text-decoration: none;
    color: #427b01;
}

.user-show-sidebar li a:visited {
    text-decoration: none;
}

.user-show-maincontent {
    height: 100vh;
    width: 85%;
    overflow: scroll;
}
.user-show-toppage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding-top: 2rem;
    
}

.properties-header {
    font-size: 2.2rem;
    margin-left: 2rem;
    font-weight: 100;
}

.user-show-add-property-button {
    height: 2.6rem;
    font-size: 1rem;
    width: 9rem;
    background-color: #427b01;
    color: #fff;
    border: 1px solid #427b01;
    margin-left: 1%;
    border-radius: 0.25rem;
    box-shadow: 0 6px 7px 0 rgb(0 0 0 / 4%);
    margin-right: 2rem;
}

.user-show-listing-cards {
    padding: 1rem;
}

.user-show-listing-card-button {
    height: 20rem;
    width: 21rem;
    border: 1px solid #cecece;
    border-radius: 1.5%;
    margin: .75rem;
    box-shadow: 0 1px 1px 0 rgb(166 166 166 / 62%)
}

.user-show-listing-card {
    height: 100%;
    width: 100%;
    margin: -.25rem;
}

.user-show-static-map-container {
    border-bottom: 1px solid #cecece;
    margin-bottom: 1rem;
}

.user-show-listing-card-address {
    text-align: left;
    margin-left: 1rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 91%;
    white-space: nowrap;
    display: block;
}

.user-show-listing-card-address-hidden {
    display: none;
}

.user-show-listing-card-address:hover .hidden {
    display: block;
}