.search-results-main-content {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    background-color: #f4f4f4;

}

.map-container {
    width: 60%;
    height: 86vh;
    overflow: hidden;
}

.searchMap {
    height:100%;
}

/* FILTER CARD FORMATTING */
.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    height: 3.5rem;
    border-bottom: 1px solid #cecece
}

.filter-container input {
    line-height: 1.9rem;
    width: 250px;
    margin-left: 1rem;
    border-radius: .25rem;
    border: 0.0625rem solid #bfbfbf;
    padding-left: .4rem;
}

.filter-container select {
    height: 2rem;
    width: 200px;
    margin-left: 1rem;
    border-radius: .25rem;
    width: 5rem;
    border: 0.0625rem solid #bfbfbf;
}


/* LISTING CARD FORMATTING */

.listing-card-container {
    width: 40%;
    height: 86vh;
    overflow: scroll;

}
.listing-card-list {
    overflow: hidden;

}

.listing-card {
    /* border: 1px solid #cecece; */
    margin-bottom: 1rem;
    box-shadow: 0 .0625rem .1875rem #cacaca;
    background-color: #fff
}

.listing-card-header-clickable {
    width: 100%;
}

.listing-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .25rem;
    border-bottom: 2px solid #cecece;
    height: 4rem;
}

.listing-card-header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: .45rem;
}

.listing-card-header-left button{
    text-align: left;

}

.listing-card-address {
    padding-top: .6rem;
    font-size: 1.5rem;
}

.listing-card-csz {
    font-size: .8rem;
    padding-top: .6rem;
    font-weight: 300;
}

.listing-card-header-right {
    display: flex;
    align-items: center;
}

.listing-card-favorite {
    font-size: 2rem;
    color: #427b01
}

.listing-card-favorite i {
    fill: #427b01;
}

.listing-card-body {
    display: flex;
    flex-direction: row;
    padding: .75rem;
    height: 100%;
    align-items: center;
}



.listing-card-body-left {
    width: 48%;
    height: 12rem;
}
.listing-card-body-left img {
    height: 100%;
    width: 100%;
}
.listing-card-body-right{
    padding-left: 1rem;
    width: 52%;
    height: 100%;
}
.listing-card-rent {
    font-size: 1.9rem;
    padding-bottom: 1.6rem;
}

.listing-card-bb {
    font-size: 1.5rem;
    padding-bottom: .8rem;
}

.listing-card-pt {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.8rem;
}

.listing-card-beds {
    font-size: 1.4rem;
}
.listing-card-body-right h4{
    padding-bottom: 1rem;
}

.listing-card-button{
    background-color: #427b01;
    color: #fff;
    border: 1px solid #427b01;
    margin-left: 1%;
    border-radius: 0.25rem;
    height: 2rem;
    width: 45%;
}

.listing-card-button:hover {
    background: #0b6839;
    border-color: #0b6839;
}