.splash-container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.splash-main-container {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/searchbar.jpg");
    background-size: 100% 100%;
    height: 33rem;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.headers-container {
    display: flex;
    text-align: center;
}

.headers-container .search-bar-header1 {
    font-weight: 900;
}

.search-bar-header1 {
    color:#fff;
    font-size: 4rem;
}

.search-bar-header2 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.search-bar-container {
    display: flex;
    width: 55%;
    margin-top: 4%;
}

.splash-search-bar {
    border-radius: .25rem;
    height: 3.3rem;
    width: 84%;
    border-radius: 0.25rem;
    padding-left: 1rem;
    
}

.splash-search-bar::placeholder {
    font-size: 1.2rem;
}

.splash-search-button {
    height: 3.5rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    width: 16%;
    background-color: #427b01;
    color: #fff;
    border: 1px solid #427b01;
    margin-left: 1%;
    border-radius: 0.25rem
}

.splash-search-button:hover {
    background: #0b6839;
    border-color: #0b6839;
}

.splash-listing-cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
}

.splash-listing-cards-header {
    text-align: center;
    font-size: 2.75rem;
}

.splash-listing-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    color: #7f7e7e
}

.splash-listing-card-button {
    width: 18%;
    height: 20rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cacaca;
    padding: 0;
    border-radius: 2%;
}

.splash-listing-card-button:hover {
    transform: scale(1.05);
    border: 1px solid #427b01
}

.splash-listing-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.splash-listing-card img {
    height: 60%;
    width: 100%;
}

.splash-listing-card h4 {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}