#nav-bar-header{
    width: 100%;
    height: 2.875rem;
    display: block;
    background: #fff;
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
}

#header-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    background-color: #fff;
    margin-left: .5rem;
}

#menu-button i {
    margin-right: .5rem;
}

img {
    height: 2rem;
    width: 2rem;
}

#auth-buttons:focus {
    color: #427b01
}