#nav-bar-header{
    width: 100%;
    height: 2.875rem;
    display: block;
    background: #fff;
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
}

#header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button {
    border: none;
    background-color: #fff
}